.footer {
    padding: 15px 0px;

    &_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_logo{
        color: green;
        font-size: 30px;
        font-weight: bold;
    }
}